<ion-header class="ion-no-border">
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="ion-no-padding" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding"><strong>Home</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <img height="300px" width="100%" class="ion-margin-bottom"  src="/assets/placeholder/360x432.png">
    <div class="ion-padding-horizontal">
      <p class="subheader">NOW HAPPENING</p>
      <h4 class="header">Event Header</h4>
      <h5 class="subtitle">Event Subtitle</h5>
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <strong>School events</strong> are an important part of the educational experience, providing students with opportunities to socialize, learn new skills, and showcase their talents. These events can take many forms, such as field trips, sports competitions, music performances, science fairs, and cultural celebrations.
  </div>

  <div class="ion-padding">
    <strong>School events serve multiple purposes.</strong> Firstly, they allow students to engage with subjects and activities beyond the traditional classroom setting, making learning more hands-on and immersive. Secondly, they foster a sense of community and school spirit, helping students feel connected to their peers and the wider school community. Finally, school events can provide a platform for students to showcase their talents and interests, boosting their self-confidence and encouraging them to pursue their passions.
  </div>

  <div class="ion-padding-horizontal ion-margin-bottom">
    When planned and executed effectively, school events can have a lasting impact on students' academic and personal growth. They provide opportunities for students to develop teamwork skills, leadership qualities, and creativity, and can even inspire lifelong hobbies or career paths. Overall, school events are an integral part of the educational experience, helping to create well-rounded, engaged, and successful students.
  </div>

</ion-content>
