<ion-content>
  <ion-img id="bg" src="sana/src/assets/download.jpg"></ion-img>

  <div>
    <form class="login-form">
      <div id="espresso">
        <ion-img src="sana/src/assets/espresso.png"></ion-img>
      </div>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <br>
      <ion-button expand="block" routerLink="/tabs/home">Sign In</ion-button>

    </form>
  </div>

</ion-content>

