ion-tab-bar {
  height: 68px;
  background-color: transparent;
  --border: none;
}

ion-tab-button{
  background-color: #F5F9E9; 
  --border: none;
}

ion-icon {
  height: 32px;
  --color-selected: #3880ff !important;
  --color-focused: #3880ff !important;
}

.tabs-inner {
  background-color: transparent;
}

.hide-tab-bar {
  display: none !important;
}