<ion-tabs class="ion-no-border">
  <ion-tab-bar [style.display]="display"  slot="bottom" class="ion-no-border">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="sparkles-outline"></ion-icon>
      Explore
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      Calendar
    </ion-tab-button>
    <ion-tab-button tab="inquiries">
      <ion-icon name="newspaper"></ion-icon>
      Inquiries
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
