<ion-header class="ion-no-border">
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding"><strong>About</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <img height="300px" width="100%" class="ion-margin-bottom" src="/assets/placeholder/360x432.png">
    <div class="ion-padding-horizontal">
      <h4 class="header">Store</h4>
      <h5 class="subtitle">Cafe</h5>
    </div>
  </div>



</ion-content>
